<!DOCTYPE html>
<html>
<head>
    <!-- Created by: Your Name -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="lt">
    <title>Lab Work</title>
</head>
<body>
    <h1>Hello</h1>
    <p>This is a simple HTML page.</p>
</body>
</html>
